.players{
    background-color: tomato;
    border: 1px solid gray;
    padding: 20px 10px;
}
.player-card{
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 450px;
    padding: 5px;
}
.players img{
    height: 200px;
    width: 200px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 50%;
}
.player-btn{
    padding: 10px;
    color: white;
    background-color: darkblue;
    border-radius: 10px;
}